body{
    background-image: linear-gradient(45deg, blue, red);
    background-attachment: fixed;
}
.flex{
    display: flex;
    gap: var(--gap, 2em);
}
.primary-navigation{
    display: flex;
    flex: 1;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(1, 225, 255);
    border-radius: 20px;
}
.active{
    position: absolute;
    display: block;
    background-color: white;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: all 0.2s;
    z-index: -1;
    border-bottom: 2px solid white;
}
p{
    max-width: 700px;
    line-height: 1.5rem;
}

